
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/lab-3/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about/">Contact Me</a>
    </li>
      <li class="nav-item">
          <a class="nav-link" href="/guest-book/">Guest Book</a>
      </li>
  </ul>
</nav>
