body {
    background-color: #cc1111;
}

#cover1 {
    text-align: center;
    background: url("../media/marry go.jpg") center center no-repeat;
    background-size: cover;
    color: white;
    height: 720px;
    width: 100%;
    align-items: center;
}

#text1 {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    width: 101%;
}

.side {
    flex: 30%;
    background-color: #d6d6d6;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.container {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 100px auto;
}

.container .box {
    position: relative;
    width: calc(360px - 30px);
    height: calc(300px - 30px);
    background: #CC3434;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.asdf{
    text-align: center;
}

.container.box.icon {
    position: relative;
    vertical-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cc1111;
}
