<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<header>
    {% include "partials/navbar.html" %}
</header>
<br>
<br>
<div id="cover1">
    <h1 id="text1">
        <br><br><br><br><br><br>
        YOU CAN CONTACT ME HERE
    </h1>
</div>
<br>
<div class="row">
  <div class="side">
      <div><img src="{% static "media/b.png" %}" width="400" height="200"></div>
  </div>
  <div class="main">
      <h2>CONTACT</h2>
      <br>
      <h5>Halimmichael09@gmail.com <br>
      08192090199<br>
      I live in Jakarta</h5>
  </div>
</div>
<div>
<form action="">
  <div class="form-group">
    <label for="email">Nama:</label>
    <input type="text" class="form-control form-control-sm" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Email:</label>
    <input type="email" class="form-control" id="pwd">
  </div>
    <div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>