<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <meta charset="UTF-8">
    <title>GuestBook</title>
</head>
<body>
<header>
    {% include "partials/navbar.html" %}
</header>
<br>
<br>
<div id="cover1">
    <h1 id="text1">
        <br><br><br><br><br>
        Please Fill This <br> Guest Book
    </h1>
</div>
<br>
<form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nama</span>
      </div>
      <input type="text" class="form-control" placeholder="Hello" id="usr" name="username">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Tanggal</span>
      </div>
      <input type="date" class="form-control" placeholder="Hello">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="email" class="form-control" placeholder="exampe@example.com">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Subject</span>
      </div>
      <input type="text" class="form-control" placeholder="Hello">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Message</span>
      </div>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>