<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<header>
    {% include "partials/navbar.html" %}
</header>
<br>
<br>
<div id="cover1">
    <h1 id="text1">
        <br><br><br><br><br><br>
        Hi I AM MICHAEL
    </h1>
</div>
<br><br>
<div class="row">
  <div class="side">
      <div class="a" style="height:250px;"><img src="{% static "media/a.jpg" %}" width="400" height="250"></div>
  </div>
  <div class="main">
      <h2>Michael Wiryadinata Halim</h2>
      <h5>Jakarta, 9 Januari 1999</h5>
      <p>Halo, salam kenal.</p>
      <p>Saya sekarang berkuliah di Fasilkom UI. Jurusan yang saya ambil adalah Ilmu Komputer.</p>
      <p>Saya sekarang sudah di semester 3, saya sangat suka bermain dan belajar.</p>
      <br>
  </div>
</div>
    <div class="container">
        <div class="box">
            <div class="icon asdf"><i class="fa fa-sitemap fa-5x" aria-hidden="true" ></i></div>
            <br>
            <h1>
                KMBUI
            </h1>
            <h6>
            Staff Humas KMBUI
            </h6>
        </div>
        <div class="box">
            <div class="icon asdf"><i class="fa fa-university fa-5x" aria-hidden="true"></i></div>
            <br>
            <h2>
                Universitas Indonesia
            </h2>
            <h4>
                Fakultas Ilmu Komputer
            </h4>
            <h6>
            Ilmu Komputer
            </h6>
        </div>
        <div class="box">
            <div class="icon asdf"><i class="fa fa-check-circle fa-5x" aria-hidden="true"></i></div>
            <br>
            <h1>
                Java
                <br>
                Python
            </h1>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>